body{
    background-color: #DCDCDC;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 4rem;
    padding-left: 4rem;
}

#code{
    font-size: 1.5rem;
    text-decoration: underline;
}

#button{
    border: black 0.2rem solid;
    margin-top: 1rem;
    background-color: #FFD700;
    border-radius: 0.5rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}