body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-orange: #db673d;
  --primary-green: #579071;
  --secondary-green: #9ac2ac;
  --heavy-green: #1c3333;
  --light-gray: #d4d4d1;
  --dark-gray: #A9A9A9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  margin-block-start: 0.41em;
  margin-block-end: 0.41em;
}

h3{
  margin-block-start: 0.41em;
  margin-block-end: 0.41em;
}

.flex-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col-center{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.text-light-gray{
  color: var(--light-gray);
}

.text-dark-gray{
  color: var(--dark-gray)
}

.pointer{
  cursor: pointer;
}