/* Screens */
.home{
    height: 100%;
    justify-content: space-evenly;
}

.docs{
    min-height: 75vh;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    color: var(--light-gray);
}

/* Components */
.big-box{
    width: 80%;
    border-radius: 0.8rem;
    background-color: var(--primary-orange);
    padding: 1rem 2rem 1rem 2rem;
    align-items: flex-start;
}

.feature-container{
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.feature-box{
    min-width: 5rem;
    max-width: 15rem;
    margin-top: 2rem;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.logo{
    height: 5rem;
    width: 5rem;
}

.google{
    background-image: url('./google_sheets_logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.shell-box{
    width: 100%;
    background-color: #20272a;
    color: white;
}

.shell-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0.3rem 0.3rem 0.3rem;
    padding: 0rem 1rem 0rem 1rem;
    cursor: pointer;
}

.button.green{
    background-color: #5fa04e;
    color: white;
}
.button.green:hover{
    background-color: green;
}

.button.blue{
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    background-color: #87CEEB;
    color: #1E90FF;
}
.button.blue:hover{
    background-color: #48D1CC;
}


.button.start{
    align-self: center;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    background-color: var(--primary-green);
    color: white;
}
.button.start:hover{
    background-color: green;
}

.counter{
    color: var(--heavy-green);
    font-weight: 700;
}

.close{
    position: absolute;
    right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
.close:hover{
    font-size: 1.7rem;
}

.example_image{
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-green);
    border: 0.3rem solid black;
}

.new-h-3{
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.75rem 0 0.75rem 0;
}